all:
  hosts:
  children:
    lb:
      hosts:
        ${server_ip[0]}:
          domain_name: ${domain_name[0]}
    web:
      hosts:
        ${server_ip[1]}:
          domain_name: ${domain_name[1]}
